<mat-card>
    <mat-card-title appAtributos > Novo Produto </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="product.name" name="name" class="inputs"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço R$" 
            [(ngModel)]="product.price" name="price" />
        </mat-form-field>
    </form>

    <button mat-raised-button class="btnSalvaNovoProduto" (click)="createProduct()" color="primary">
        Salvar
    </button>

    <button mat-raised-button class="btnCancelaNovoProduto" (click)="cancel()">
        Cancelar
    </button>

</mat-card>