.sidenav {
    background-color: #4481d1;
    width: 120px;
}

.sidenav a {
    color:white;
}

.sidenav  i {
    margin-right: 4px;
}

.nav-list {
    margin-left: -10px;
}

.content{
    background-color: #fff;
}
